* {
	font-family: "Maple Mono NF CN";
	@apply antialiased;
	font-smooth: always;
	color-scheme: dark;
}

html {
	@apply scroll-smooth;
}

body {
	/* @apply bg-ink-purple; */
}

a {
	@apply underline font-medium;
}

p {
	@apply m-4;
}

blockquote {
	@apply border-l-4 border-solid border-[#ddd];
	@apply font-medium text-[#bbb] opacity-70;
	@apply mt-4 mb-6 mx-2 px-2;
	@apply whitespace-pre-line!;
}

h1 {
	@apply *:no-underline text-2xl sm:text-3xl my-4 sm:my-8;
	@apply whitespace-pre-line!;
}

h2 {
	font-size: 24px;
	margin-top: 20px;
	margin-bottom: 20px;
	opacity:  0.8;
}

ul {
	@apply list-disc mx-6;
}

ol {
	@apply list-decimal;
}

li {
}

