* {
	font-family: "Maple Mono NF CN";
	color-scheme: dark;
}

body {
	@apply bg-ink-purple;
}

a {
	@apply underline;
}

p {
	@apply m-4;
}

blockquote {
	border-left: 4px solid #ddd;
	color: #bbb;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 0 15px;
	font-weight: 450;
	opacity: 0.66;
}

ul {
	@apply list-disc ml-10 mr-6;
}

ol {
	@apply list-decimal;
}

li {
}

